.add-module-button {
    background-color: #af95d1;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-module-button:hover {
    background-color: #a58bc7;
}