.App {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}