.module-container {
    background-color: #c7d2e9;
    border-radius: 100px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.module-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 20px;
}

.module-input {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.module-input label {
    color: #163f74;
    font-size: 18px;
    margin-right: 10px;
    width: 160px;
    white-space: nowrap;
    text-align: right;
}

.module-input input {
    width: 120px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;

    border: 2px solid rgba(128, 0, 128, 0);
}

.module-input input:focus {
    border: 2px solid #163f74;
    outline: none;
}

.module-input .weighting-label {
    width: 90px;
}

.module-results {
    color: white;
    font-size: 20px;
}