.module-container {
    background-color: #f8f9fa94;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    box-shadow: 0 8px 8px rgba(110, 19, 19, 0.1);
}

.module-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 20px;
}

.module-input {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.module-input label {
    color: #301934;
    font-size: 18px;
    margin-right: 10px;
    width: 160px;
    white-space: nowrap;
    text-align: right;
}

.module-input input {
    width: 120px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid rgba(128, 0, 128, 0);
}

.module-input input:focus {
    border: 2px solid #ffd034;
    outline: none;
}

.module-input .weighting-label {
    width: 90px;
}

.module-results {
    color: #301934d8;
    font-size: 20px;
}

.delete-button {
    background: none;
    border: none;
    color: #301934;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px;
}