.title-container {
    background-color: #95a9d1;
    border-radius: 100px;
    text-align: center;
    padding: 5px 40px;
    margin: 20px auto;
    width: fit-content;
}

h1 {
    color: white;
    font-size: 32px;
}